/* created by shivam gupta*/
/* Do not copy images path and name!!!!!!!!!*/

/* Modal Popup css start*/
.tf-modal-outer {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    pointer-events: auto;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size : 14px;
}
.tf-modal-inner {
    min-width: 400px;
    min-height: 150px;
    background-color: white;
    pointer-events: auto;
    border-radius: 5px 5px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
}

.tf-modal-header {
    background: url("./images/on_behalf_of_popup_header_bg.jpg");
    white-space: nowrap;
    min-height: 40px;
    font-size: 16px;
    font-weight: bold;
    font-family: Arial;
    border-radius: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tf-modal-body {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    position: relative;
    padding:  5px;
    min-height: 90px;
}

.tf-modal-footer {
    height: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.tf-modal-title {
    display : inline-block; /* For IE 10*/
    padding-left: 10px;
    font-size: 14px;
    
    /* For header text ellipsis*/
    width: 350px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tf-modal-close-btn {
    display : inline-block; /* For IE 10*/
    width: 18px;
    height: 18px;
    background: url("./images/invoicePopupClose.png") no-repeat;
    margin-right: 15px;
}

.tf-modal-close-btn:hover {
    background-position: 0 -18px;
}
.tf-modal-footer {
    background-color: #465a6e;
}
.tf-display--none{
    display : none !important;
}
/* Modal Popup css  end*/

/*Standard Popup Start*/

.tf-std-popup{
    
    display: -webkit-box;
    
    display: -ms-flexbox;
    
    display: flex;
    -ms-flex-flow: row wrap;
        flex-flow: row wrap;
}
.tf-std-popup-icon{

    width : 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 10px;
}
.tf-std-popup-msg{
    -webkit-box-flex : 2;
        -ms-flex : 2;
            flex : 2;
    padding: 10px;
}
.tf-confirm-icon{
    width: 45px;
    height : 45px;
    background: url("./images/warning_icon.png") no-repeat;
    background-size: contain;
}
.tf-success-icon{
    width: 45px;
    height : 45px;
    background: url("./images/warning_icon.png") no-repeat;
    background-size: contain;
}
.tf-info-icon{
    width: 45px;
    height : 45px;
    background: url("./images/warning_icon.png") no-repeat;
    background-size: contain;
}
.tf-error-icon{
    width: 45px;
    height : 45px;
    background: url("./images/warning_icon.png") no-repeat;
    background-size: contain;
}
.tf-std-btn{
    min-width : 70px;
    height : 30px;
}
.tf-std-btn:focus{
    min-width : 70px;
    height : 30px;
    border : 2px solid blue;
}
/*Standard Popup End*/